@charset 'utf-8';
body{
	font-size:16px;
	background-color:antiquewhite;
	color:chocolate;
	
	}
h1{
    text-align:center;
	font-family:'宋体';
	font-size:20px;
	font-weight:800;
	color:peru;
}	
h2{
	font-family:'黑体';
	font-size:16px;
	font-weight:normal;
	color:#DAA520;
}
p{
    line-height:2em;
}
.nav{
	background-color: #CCCCFF;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10px;
	text-align: center;
}
#sj{
	width:0;
	height:0;
	border:10px solid transparent;
	border-top-color:#333;
	}
#hz{
    width: 90%;
	margin: 0px auto;
	padding: 0 0;
	background-color: #FFDEAD;
	min-height:800px;
}	
#lb{
	width:380px;
	margin:50px auto;
	padding:10px;
	background:#F4A460;
}
li{
    height:30px;
	line-height:30px;
	list-style-image:("images/1.jpg");	
    color:#AO522D;
}